* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dashboard {
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  width: 60vw;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-areas:
    ". animation-container"
    "clock weather-container"
    "date .";
}

.clock {
  text-align: center;
  width: 500px;
  font-weight: 300;
  font-size: 8em;
  place-self: center;
  grid-area: clock;
}

.date {
  text-align: center;
  font-size: 1.5em;
  grid-area: date;
  place-self: start center;
}

.animation-container {
  width: 302px;
  height: 152px;
  place-self: center;
  grid-area: animation-container;
  
}

animation-container__icon {
  width: 302px;
  height: 152px;
}

.animation-container__error-msg--visible {
  width: 302px;
  height: 152px;
  color: red;
  font-size: 1.3em;
  display: block;
}

.animation-container__error-msg--invisible {
  display: none;
}

.weather-container {
  font-size: 1.3em;
  height: fit-content;
  width: fit-content;
  grid-area: weather-container;
  place-self: start center;
}

@media (max-width: 1360px) {

  .clock {
    width: 250px;
    font-size: 4em;
  }

  .dashboard {
    width: fit-content;
    height: fit-content;
    grid-template-columns: 1fr;
    grid-row: auto;
    row-gap: 15px;
    grid-template-areas:
      "clock"
      "date"
      "animation-container"
      "weather-container";
  }
}
